<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macaron.mobile_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"></activity>
        <activity android:name=".Activity.PhilosophyActivity"></activity>
        <activity android:name=".Activity.HumanitiesActivity"></activity>
        <activity android:name=".Activity.HistoryActivity"></activity>
        <activity android:name=".Activity.MusicActivity"></activity>
        <activity android:name=".Activity.EconomyActivity"></activity>
        <activity android:name=".Activity.BookMarkActivity"></activity>
        <activity android:name=".Activity.SettingActivity"></activity>
        <activity android:name=".Activity.InformActivity" ></activity>
        <activity android:name=".Activity.KnewledgeActivity"></activity>
        <activity android:name=".Activity.KnewledgeBookmarkActivity"></activity>
        <activity android:name=".Activity.PopUpActivity" android:theme="@style/Theme.AppCompat.Dialog"></activity>

        <receiver
            android:name=".BroadcastActivity"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>